/.idea
/coverage
kube.yml
kube-yc.yml
sa.yml
mss-api/node_modules
mss-api/public
mss-api/.env
mss-api/coverage
mss-front/node_modules
mss-front/dist
mss-front/.eslintcache
mss-front/.env
mss-front/coverage
/sa.yaml
