{
  "presets": ["@babel/preset-env", "@babel/preset-typescript", "@babel/preset-react"],
  "env": {
    "test": {
      "plugins": [
        "@loadable/babel-plugin",
        "@babel/plugin-transform-runtime",
        "babel-plugin-styled-components"
      ]
    }
  }
}
